body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div {
  padding-top: 10px;
  text-align: center;
}
div.notification {
  height: 200px;
  width: 300px;
  margin: auto;
  text-align: justify;
  padding: 10px;
  background-color: lightblue;
}
table.center{
  margin-left: auto;
  margin-right: auto;
}
.list{
 color: black;
 height:250px;
 width: 950px;
 margin:auto;
 text-align: justify;
 background-color: slategray;
}